@(message: String, birds: List[Bird])

@main(message) {
    <h1 id="name">@message</h1>
    <div class="jumbotron">
        <ul>
        @birds.map { bird =>
            <li>
                <img class="thumbnail" src="@bird.imageUrl">
                <span class="name">@bird.name</span>
            </li>
        }
        </ul>
    </div>
}
