#name {
    margin: auto;
    width: 75%;
}
.jumbotron {
    margin: auto;
    width: 75%;
}

.jumbotron .thumbnail {
    float:left;
    vertical-align: middle;
}

.jumbotron li {
    list-style-type:none;
    padding:30px;
    clear:both;
}

label {
    vertical-align: middle;
}

.jumbotron .name {
    padding: 20px;
    vertical-align: middle;
    font-size: 20pt;
}
